.search {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 16px;
}

.search button {
  background-color: transparent;
  border: 0;
  outline: 0;
}

.search input {
  background-color: transparent;
  border: 0;
  outline: 0;
  font-size: 1.6rem;
  color: var(--principal-color);
  font-weight: 500;
  padding: 0.2rem 0;
  /* border-bottom: 2px solid var(--principal-color); */
  border-bottom: 0.2rem solid white;
  transition: 0.25s;
  width: 0px;
}
