.gallery_movies {
  min-height: 100vh;
  position: relative;
  overflow: hidden;
}

.overlay {
  width: min(100%, 48rem);
  border-radius: 50%;
  filter: blur(5rem);
  opacity: 0.4;
  aspect-ratio: 1/1;
  background: radial-gradient(var(--principal-color), transparent);
  position: fixed;
  z-index: -2;
  top: 256px;
  left: 256px;
}

.flag {
  position: absolute;
  bottom: 0;
}
